@page "/recipe/{RecipeId}"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<h1>Recipe Details></h1>


@code 
{
    public class APIRecipe
    {
        [JsonPropertyName("id")]
        public int? RecipeId { get; set; }

        [JsonPropertyName("title")]
        public string? Title { get; set; }

        [JsonPropertyName("image")]
        public string? Image { get; set; }
    }
}
