@page "/recipe/{RecipeId:int}"
@using System.IO;
@using System.Text;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h3>Recipe Details</h3>

@if (isLoading) 
{
    <p>Loading...</p>
}
else
{
    <ol>
        @foreach (var step in Steps)
        {
            <li>@step.Step</li>
        }
    </ol>
}


@code {

    [Parameter]
    public int RecipeId { get; set; }

    private bool isLoading = true;

    private List<RecipeStep> Steps { get; set; }

    private string? content;
    private string? modContent1;

    private bool getResultsError;
    private bool shouldRender;

    @* get API key *@
    protected string? SPOONACULAR_API_KEY { get; private set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        DotNetEnv.Env.Load(); // Load environment variables from .env file

        SPOONACULAR_API_KEY = DotNetEnv.Env.GetString("SPOONACULAR_API_KEY");
        @* end get API key *@
    

        var request = new HttpRequestMessage
        {
            Method = HttpMethod.Get,
            RequestUri = new Uri($"https://api.spoonacular.com/recipes/{RecipeId}/analyzedInstructions"),
            Headers = 
            {
                { "x-api-key", SPOONACULAR_API_KEY }
            },
        };

        var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            content = await response.Content.ReadAsStringAsync();
                Console.WriteLine("modified content:");
                Console.WriteLine(content);
                Console.WriteLine(content.Length);
            string modifiedContent = content.Remove(content.Length - 3, 2).Substring(20);
            Console.WriteLine("modified content:");
            Console.WriteLine(modifiedContent);
            
            using (var memoryStream = new MemoryStream(Encoding.UTF8.GetBytes(modifiedContent)))
            {
                Steps = await JsonSerializer.DeserializeAsync<List<RecipeStep>>(memoryStream);
            }

            isLoading = false;

        }
        else
        {
            getResultsError = true;
        }
        
    }

    public class RecipeStep
    {
        @* [JsonPropertyName("number")]
        public int? Number { get; set; } *@

        [JsonPropertyName("step")]
        public string? Step { get; set; }

        @* public int Number { get; set; }
        public string Step { get; set; } *@
    }

    public class RecipeStepsContainer
    {
        public string Name { get; set; }
        public RecipeStep[] Steps { get; set; }
    }

}